/* reset */
/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* font */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* common style */
body {
    background-color: #000;
    color: #FFFFFF;
}



.container {
    width: 80%;
    margin: 0 auto;
}


/* header section start */

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-flex {
    display: flex;
}

/* sizing and spacing */
.navbar {
    margin-top: 3.5rem;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-flex li {
    margin-left: 3rem;
}

.nav-flex li a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.logo {
    color: #E6533C;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
}

.home {
    padding: 8px 20px;
    gap: 10px;
    border-radius: 46px;
    background: #E6533C;
}

/* header section end */



/* Hero Section Start */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}


/* sizing and spacing */
.hero-text {
    width: 50%;
}

.hero-img {
    /* width: 60%; */
    position: relative;
}


.hero-section h1 {
    color: #FFF;
    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.hero-section p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 2rem 0;
}

.join-btn {
    width: 224px;
    padding: 16px 40px;
    gap: 10px;
    border-radius: 42px;
    background: #E6533C;
    white-space: nowrap;

}

.download-btn {
    width: 224px;
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #FFF;
    color: white;
    margin-left: 14px;
    background-color: transparent;
    white-space: nowrap;
}

.overlay-button1 {
    position: absolute;
    left: 200px;
    top: 125px;
}


.overlay-button2 {
    position: absolute;
    bottom: 60px;
    left: -90px;
}



#tutorial1 {
    width: 190px;
    height: 96px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    color: white;
    margin-bottom: -100px;
}

#tutorial2 {
    width: 190px;
    height: 96px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    color: white;
    margin-right: -100px;
}

#tutorial1 .heading,
#tutorial2 .heading {
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}

#tutorial1 .paragraph,
#tutorial2 .paragraph {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
}

/* Hero Section End */


/* Habit Section Start */
.habit-text {
    text-align: center;
    margin-top: 5rem;
}

.habit-text h1 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}

.habit-text p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 14px 0 58px 0;
}

.habits-container {
    display: flex;
    gap: 40px;
    text-align: center;
}

.habit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.habit img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.habit h4 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.habit p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    margin-top: 10px;
}

/* Habit Section End */

/* Run a Mile Easily Section start */

.mile-bg {
    margin-top: 100px;
}

.mile {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 32px 29px 54px;
    align-items: center;
    gap: 165px;
    border-radius: 18px;
    background: #222;
}

.mile-text {
    width: 40%;
}

.mile-text h2 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.mile-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 14px 0 34px 0;
}



.mile img {
    width: 366px;
    height: 312px;
    border-radius: 18px;
}

.join-now-btn {
    width: 224px;
    padding: 16px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 42px;
    background: #E6533C;
    color: white;
}

/* Run a Mile Easily Section end */


/* BMI Calulator start */
.bmi-calculator {
    margin-top: 100px;
}

.bmi-text {
    width: 60%;
    text-align: left;
    margin-bottom: 80px;

}

.bmi-text h1 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.bmi-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 14px;
}

.bmi-left h2 {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 3rem;
}

.bmi-text h2 {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.bmi-text p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 0;
}

.bmi-section {
    background: #222;
    padding: 50px 0;
}

.bmi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* table */
.bmi-table-container {
    background-color: #262626;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bmi-table {
    width: 100%;
    border-collapse: collapse;
}

.bmi-table th,
.bmi-table td {
    border: 1px solid #3a3a3a;
    padding: 10px;
    text-align: left;
}

.bmi-table th {
    background-color: #3a3a3a;
}

.bmi-table td {
    background-color: #2b2b2b;
}

.bmi-table tr:nth-child(even) td {
    background-color: #333333;
}

/* form */


.bmi-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    gap: 10px;
}

.form-group input,
.form-group select {
    background-color: #3a3a3a;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: #ffffff;
    flex: 1;
}

button {
    background-color: #ff5733;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 224px;
    padding: 16px 40px;
    gap: 10px;
    margin-top: 2rem;
}

button:hover {
    background-color: #e04e2a;
}



/* BMI Calulator end */


/* Meet our team section start */
.team-text {
    text-align: center;
    margin: 5rem 0;
}

.team-text h1 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.team-text p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    padding: 20px 5px 20px 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
}

.card {
    position: relative;
}

.card img {
    height: 300px;
    width: 350px;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Meet our team section end */

/* footer start */
.footer-section {
    margin-top: 5rem;
    background: rgba(255, 255, 255, 0.10);
    padding: 4rem 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}

.fitness-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.fitness-header {
    color: #E6533C;
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 1.2rem;
}

.started-one h3 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 2rem;
}

.started-one ul li {
    color: rgba(255, 255, 255, 0.50);

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 1.3rem;
}


.footer-line {
    border-top: 1px solid #444;
    /* Dark gray color for the line */
    margin: 20px 0;
    margin: 5rem auto 2rem auto;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

/* footer end */




/* responsive media query */
@media screen and (max-width: 576px) {

    /* menu section */
    .menu-icon {
        display: block;
    }


    /* hero section */
    .nav-flex {
        display: none;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-text {
        width: 100%;
    }

    .hero-img {

        width: 90%;
        margin: 2rem auto;
    }

    .button-container {
        justify-content: center;
    }


    /* Habit Section start */
    .habits-container {
        flex-direction: column;
    }

    /* Habit Section end*/

    /* Run a Mile Easily Section start */
    .mile {
        flex-direction: column;
        margin: 0 auto;
    }

    .mile-text {
        width: 100%;
    }

    /* Run a Mile Easily Section End */

    /* bmi start */
    .bmi {
        flex-direction: column;
    }

    .bmi-left {
        text-align: left;
    }

    /* bmi end */

    /* meet our team section start */
    .card-container {
        grid-template-columns: 1fr;
    }

    /* meet our team section end */

    /* footer start */
    .footer-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    /* footer end */

}